html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
dl,
dt,
dd,
figure,
figcaption,
blockquote,
pre,
hr,
code,
address,
caption,
th,
td,
button,
a {
   font-family: monospace !important;
}

body {
   height: 900px;
   top: 100px;
   left: 0;
   right: 0;
}

:root {
   --primary-color: #ffffff;
   --secondary-color: rgb(4, 4, 4);
   --transparent-white-color: #ffffffe0;
   --darkblue-color: #0e1620;
   --green-color: #1b8a44;
   --snake-color: #2ad067;
   --orange-color: #ffc107;
}

button {
   background: #323232;
   padding: 8px 14px;
   font-size: 16px;
   color: white;
   border-radius: 6px;
   border: none;
   margin-top: 4px;
}

.btn-text {
   background: none;
   padding: 0;
   font-size: 12px;
   color: black;
   border-radius: 0;
   border-bottom: 1px solid black;
}

input {
   margin: 4px 0 0 0;
   width: 100%;
   display: block;
   padding: 10px 9px;
   border-radius: 6px;
   border: 2px solid #747474;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 16px;
}

button:hover {
   cursor: pointer;
}

#stopButton {
   background: red;
}

#gameTimer {
   font-size: 40px;
}

h3 {
   font-size: 25px;
}

.App {
   text-align: center;
}

.App-logo {
   height: 40px;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}



header {
   background: linear-gradient(6deg, #218639 0%, #caf580 100%);
   color: var(--secondary-color);
   padding: 12px 30px;
   border-radius: 12px 12px 0 0;
   margin: auto;
   width: 70%;
   border: 1px solid #ffb203;
   border-bottom: 0;
}

header p {
   font-size: 18px;
   font-weight: bold;
   margin: 8px 0;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}

.snake {
   border-radius: 6px;
   position: absolute;
   z-index: 2;
   display: inline-grid;
   justify-content: center;
   align-content: center;
   transition-duration: 3s;
   transition-property: transform;
   border: 1px solid #94c005;
   color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 7px 0;
}

h4 {
   font-size: 18px;
}

.cell.food {
   z-index: 1;
}

.cell.speed {
   z-index: 1;
}

.cell.bomb {
   background: black;
   z-index: 1;
}

.cell {
   position: absolute;
   z-index: 0;
   /* background: #94c005; */
}


.sidebar {
   background: rgb(228, 195, 123);
   border-radius: 10px;
}

.loginContainer {
   background: white;
   border-radius: 6px;
   padding: 20px 20px 9px 20px;
   width: -moz-fit-content;
   width: 300px;
   margin: auto;
   margin-top: 40px;
   text-align: center;
   border: 4px solid #323232;
}

/* .loginContainer button,
.loginContainer input {
   display: block;
   width: 100%;
} */

.w-100 {
   width: 100% !important;
}

.loginContainer button:hover {
   background: rgb(70, 70, 70);
}

table th,
table td {
   padding: 10px;
}

table td {
   border: 1px solid #ffffff17;
}

header button {
   background: #ffc107;
   padding: 6px 12px;
   font-size: 14px;
   color: black;
   font-weight:bolder;
}

.loginContainer .badge-info-sm {
   font-size: 12px;
   background: #ffeccf;
   border-radius: 6px;
   border: 1px solid orange;
}

.loginContainer .btn-md {
   background:green;
}

table th table .title {
   font-size: 14px;
}

.bg-green {
   background: green;
}

.bg-black {
   background: black;
}

.game-over,
.game-won,
.start-game,
.select-game-mode {
   padding: 50px;
   margin: auto;
   border-radius: 6px;
   max-width: 270px;
   width: 100%;
   text-align: center;
   background: var(--green-color);
   color: var(--primary-color);
}

.start-game {
   background: none;
}

.game-over p,
.game-won p,
.start-game p,
.select-game-mode p {
   font-size: 18px;
   font-weight: bolder;
}

.game-over,
.game-won,
.start-game,
.select-game-mode {
   text-transform: uppercase;
}

/* target buttons inside game-over start-game */
.game-over button,
.start-game button,
.select-game-mode button,
.game-won button {
   background: var(--orange-color);
   color: black;
   font-weight: bolder;
   font-size: 20px;
}

.select-game-mode button:first-child {
   margin-right: 10px;
}

.select-game-mode button {
   background: #ffc107;
}

.mainGameUI button {
   width: 100%;
}

.mainGameUI {
   min-height: 500px;
   position: relative;
   background: var(--secondary-color);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: white;
}

.mainGameUI {
   border-top: 1px solid black;
   border-bottom: 1px solid black;
}

.game-mode-bar {
   background: var(--primary-color);
   width: 100%;
   justify-content: space-between;
   display: flex;
}

.game-mode-bar-item {
   width: 100%;
   background: var(--darkblue-color);
   color: lightgreen;
   border: 1px solid white;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
}

.game-mode-bar-item button {
   padding: 1px 0px;
   font-size: 12px;
   font-weight: bolder;
   background: none;
   margin: 7px;
   width: -moz-fit-content;
   width: fit-content;
   text-transform: uppercase;
   color: #ffc107;
   border-bottom: 2px solid #ffc107;
   border-radius: 0;
   margin: 0 11px;
}

.game-mode-bar-item h3 {
   font-size: 16px;
}

.game-board-container {
   /* border: 1px solid red; */
   display: flex;
}

.game-controls-main {
   max-height: 500px;
   display: flex;
   justify-content: center;
   align-items: stretch;
   /* gameboard's max height + top bar height*/
}

p.info {
   color: rgb(10, 79, 3);
   font-size: 17px;
   font-weight: bolder;
}

p.badge-warning {
   background: #ffc107;
   color: black;
   font-size: 16px;
   padding: 2px;
   border-radius: 6px;
   font-weight: bolder;
}

.game-controls-bar button {
   width: 100%;
   border-radius: 0;
   margin: 0;
   border-top: 1px solid black;
   text-transform: uppercase;
}

.game-controls-bar {
   margin: auto;
   z-index: 1;
   position: relative;
   background: black;
   width: 100%;
   justify-content: center !important;
}

.inputContainerStatus input {}

.inputContainerStatus div {
   border-radius: 0 0 6px 6px;
   border: 2px solid grey;
   border-top: 0;
}

.badge-info-sm {
   /* background: #e5f3ff; */
   color: black;
   margin: 6px 0;
   border-radius: 4px;
   padding: 6px;
   font-size: 16px;
   font-family: arial;
}

.personal-score-board,
.leaderboard {
   overflow-y: auto;
   width: 100%;
   background: #ffffff82;
   padding: 30px;
   border-radius: 0;
   border: 1px solid #ffb203;
   max-width: 300px;
   flex-shrink: 0;
   text-align: center;
}

.personal-score-board table,
.leaderboard table {
   width: 100%;
}


.top-bar {
   background: #162942;
   border-bottom: 1px solid black;
   color: #ffb203;
}

.top-bar div {
   width: 100%;
   border-right: 1px solid black;
   font-size: 20px;
}

.top-bar .other-info {
   background: var(--primary-color);
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 50% 50%;
}

.top-bar .other-info>div {
   background: #162942;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   padding: 2px;
   border: 1px solid black;
}

.top-bar .other-info>div span {
   text-transform: capitalize;
}

.top-bar div h6 {
   margin: 0;
}

.top-bar div>div:first-child {
   /* border-bottom: 1px solid black; */
}

.top-bar>div:last-child {
   border: none;
}

.top-bar div>div {
   font-size: 20px;
}

.w-50 {
   width: 50%;
}

.d-flex-sb {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.d-flex-cc {
   display: flex;
   justify-content: center;
   align-items: center;
}

.d-flex-spc {
   display: flex;
   align-items: center;
   justify-content: space-between;
}



.game-core {
   width: 100%;
}

.mainGameUI {
   position: relative;
   flex-shrink: 0;
}

.top-bar h2 {
   font-size: 34px;
}

body {
   background-image: linear-gradient(44deg, #218639 0%, #caf580 100%);
   background-size: 100% !important;
   background-repeat: no-repeat !important;
}

table {
   border-collapse: collapse;
}

.leaderboard h2,
.personal-score-board h2 {
   color: var(--secondary-color);
}

.leaderboard th {
   background: lightgreen;
}

.leaderboard td,
.personal-score-board td {
   background: var(--darkblue-color);
   color: var(--primary-color);
}

.personal-score-board th {
   background: lightgrey;
}

.personal-score-board {
   border-radius: 10px 0 0 10px;
   border-right: 0;
}

.leaderboard {
   border-radius: 0 10px 10px 0;
   border-left: 0;
}

.badge-sm.is-valid {
   background: lightgreen;
   color: black;
}

.badge-info {
   color: #ffc928;
   border: 8px double orange;
   padding: 10px;
   border-radius: 100px;
   background: #3a2902;
}

.badge-sm.error {
   background: red;
   color: black;
}

.badge-sm.warning {
   background: yellow;
   color: black;
}

.badge-sm {
   background: #cfcfcf;
   color: black;
   font-size: 14px;
   padding: 8px;
   border-radius: 6px;
   font-weight: bolder;
}

.btn-sm {
   padding: 5px;
   font-size: 12px;
   font-weight: bolder;
   background: #00000054;
   margin: 4px 0;
   text-transform: uppercase;
}

.btn-md {
   padding: 10px;
   font-size: 16px;
   font-weight: bolder;
   background: black;
   margin: 4px 0;
   width: fit-content;
   text-transform: uppercase;
}

.btn-lg {
   padding: 15px;
   font-size: 20px;
   font-weight: bolder;
   background: #00000054;
   margin: 4px 0;
   width: fit-content;
   text-transform: uppercase;
}

.home {
   width: 100%;
   max-width: 1300px;
   margin: auto;
   position: absolute;
   right: 0;
   left: 0;
   margin-top: 100px;
}

@media screen and (max-width: 768px) {
   body {
      display: block;
      height: 100%;
   }

   .game-controls-main {
      flex-wrap: wrap;
   }

   .leaderboard,
   .personal-score-board {
      border-radius: 0;
   }

   .leaderboard.newPersonalScore {
      animation: scaleUpAndDown 0.5s ease-in-out;
   }

   @keyframes scaleUpAndDown {
      0% {
         transform: scale(1.0);
         -webkit-transform: scale(1.0);
      }

      100% {
         transform: scale(2.0);
         -webkit-transform: scale(2.0);
      }
   }

   header {
      width: 90%;
   }

   .leaderboard {
      order: 2;
   }

   .personal-score-board {
      order: 3;
   }

   h1 {
      font-size: 20px;
   }

   h2 {
      font-size: 18px;
   }

   button {
      font-size: 16px;
      padding: 4px 6px;
   }

   header {
      font-size: 20px;
      padding: 12px;
   }

   header p {
      margin: 0;
      line-height: 1.2em;
      font-size: 16px;
      font-weight: 400;
   }

   header button {
      float: right;
   }
}

.f-l {
   float: left;
}

header img {
   width: 50%;
   position: absolute;
   left: 21%;
   bottom: 60%;
}

/* round left and right corners on table headers */
table th:first-child {
   border-top-left-radius: 10px;
}

table th:last-child {
   border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
   border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
   border-bottom-right-radius: 10px;
}